In [1]:
# dictionary
# -indexing
# -ordered
# -multiple and duplicate data
# -mutable

In [2]:
a = {}
b = dict()

print(type(a))
print(type(b))

<class 'dict'>
<class 'dict'>

In [3]:
# d = {<key>:<value>, <key>:<value>,<key>:<value>}

In [6]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
print(d['a'])
print(d['b'])
print(d['c'])

Apple
Ball
Cat

In [7]:
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [8]:
d = {'a':'Apple','b':'Ball','c':'Cat','A':'Apple'}
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}

In [9]:
#adding value on dictionary
d = {}
d['a'] = 'Apple'
d['b'] = 'Ball'
d['c'] = 'Cat'
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [12]:
#update value in dictionary
dic = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
dic['a'] = 'Ant'
print(dic)

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [13]:
#dictionary on loop
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
for i in a:
    print(i)

a
b
c

In [14]:
#dictionary on loop
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
for i in a.values():
    print(i)

Apple
Ball
Cat

In [15]:
#dictionary on loop
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
for i in a.items():
    print(i)

('a', 'Apple')
('b', 'Ball')
('c', 'Cat')

In [17]:
l = [['a', 'Apple'],
    ['b', 'Ball'],
    ['c', 'Cat']]
dic = dict(l)
print(dic)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [18]:
#create
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    d[name] = phone

print(d)

Enter n =  2
Enter name =  Ram
Enter phone =  9808778765
Enter name =  Shyam
Enter phone =  9808556543

{'Ram': '9808778765', 'Shyam': '9808556543'}

In [19]:
#read

In [20]:
#update
d = {'Ram': '9808778765', 'Shyam': '9808556543'}
d['Ram'] = '9808556712'
d

{'Ram': '9808556712', 'Shyam': '9808556543'}

In [21]:
# delete
#del pop()

In [23]:
d = {'Ram': '9808556712', 'Shyam': '9808556543'}
del d['Ram']
print(d)

{'Shyam': '9808556543'}

In [25]:
d = {'Ram': '9808556712', 'Shyam': '9808556543'}
d.pop('Shyam')
print(d)

{'Ram': '9808556712'}

In [26]:
d = {'Ram': '9808556712', 'Shyam': '9808556543'}
b = d.pop('Shyam')
print(d)
print(b)

{'Ram': '9808556712'}
9808556543

In [27]:
#list inside dict
info = {'Ram':[9845667654,9808778765],
       'Shyam':[9845667610,9808778765]}
info

{'Ram': [9845667654, 9808778765], 'Shyam': [9845667610, 9808778765]}

In [28]:
#list inside dict
info = {'name':['Ram','Shyam'],
        'ntc':[9856556543,9856778765],
        'ncell':[980888987654,98087787654]}
info

{'name': ['Ram', 'Shyam'],
 'ntc': [9856556543, 9856778765],
 'ncell': [980888987654, 98087787654]}

In [34]:
print(info['name'][1])
print(info['ntc'][1])
print(info['ncell'][1])

Shyam
9856778765
98087787654

In [3]:
#read
i = int(input("Enter index = "))
info = {'name': ['Ram', 'Shyam'],
        'ntc': [9856556543, 9856778765],
        'ncell': [980888987654, 98087787654]}

print(info['name'][i])
print(info['ntc'][i])
print(info['ncell'][i])

Enter index =  1

Shyam
9856778765
98087787654

In [5]:
info = {'name':[],
        'ntc':[],
        'ncell':[]}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = input("Enter ntc = ")
    ncell = input("Enter ncell = ")
    info['name'].append(name)
    info['ntc'].append(ntc)
    info['ncell'].append(ncell)

print(info)

Enter n =  2
Enter name =  Ram
Enter ntc =  9845667561
Enter ncell =  9808787653
Enter name =  Shyam
Enter ntc =  9856778765
Enter ncell =  9808556765

{'name': ['Ram', 'Shyam'], 'ntc': ['9845667561', '9856778765'], 'ncell': ['9808787653', '9808556765']}

In [ ]:
# WAP to take data from user and create dict inside list also do CRUD
# WAP to take data from user and create dict inside dict also DO CRUD