In [1]:
# File handeling

# file = open('<file _name>','mode')
# file.close()

# with open('<file_name>','mode')as file:
#     <operations>

# modes
# x -> create
# r -> read
# a -> append
# w -> write

In [2]:
file = open('data.txt','x')
file.close()

In [4]:
# pwd

In [5]:
file = open('data.txt','r')
data = file.read()
file.close()
print(data)

1 Hello World
2 Hello World
3 Hello World
4 Hello World
5 Hello World
6 Hello World

In [8]:
lines = data.split("\n")
lines

['1 Hello World',
 '2 Hello World',
 '3 Hello World',
 '4 Hello World',
 '5 Hello World',
 '6 Hello World']

In [14]:
n = int(input("Enter n = "))
lines = data.split("\n")
lines[n-1]

Enter n =  3

'3 Hello World'

In [16]:
# write mode
file = open('newdata.txt','w')
file.write('Hello World I am Python')
file.close()

In [17]:
pwd

'C:\\Users\\Aayush\\new_Python_Class_8AM'

In [21]:
bill = ""
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter product name = ")
    price = int(input("Enter price = "))
    qty = float(input("Enter qty = "))
    total = price * qty
    x = f"{product}\t{price}\t{qty}\t{total}\n"
    bill = bill + x
print(bill)

file = open('bill.txt','w')
file.write(bill)
file.close()

In [22]:
file = open('bill.txt','r')
data = file.read()
file.close()
data

'Apple\t200\t2.0\t400.0\nBanana\t100\t3.0\t300.0\n'

In [32]:
final_list = []
data_list = data.split("\n")[0:-1]

for i in data_list:
    x = i.split("\t")
    print(x)
    final_list.append(x)
    
final_list

['Apple', '200', '2.0', '400.0']
['Banana', '100', '3.0', '300.0']

[['Apple', '200', '2.0', '400.0'], ['Banana', '100', '3.0', '300.0']]

In [ ]:
# CSV

In [35]:
bill = ""
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter product name = ")
    price = int(input("Enter price = "))
    qty = float(input("Enter qty = "))
    total = price * qty
    x = f"{product},{price},{qty},{total}\n"
    bill = bill + x
print(bill)

file = open('bill.csv','w')
file.write('Product,Price,Qty,Total\n')
file.write(bill)
file.close()

Enter n =  2
Enter product name =  Apple
Enter price =  200
Enter qty =  3
Enter product name =  Banana
Enter price =  100
Enter qty =  4

Apple,200,3.0,600.0
Banana,100,4.0,400.0

In [34]:
pwd

'C:\\Users\\Aayush\\new_Python_Class_8AM'

In [38]:
file = open('append_bill.csv','a')
file.write('SN,Product,Price,Qty,Total\n')

27

In [40]:
bill = ""
n = int(input("Enter n = "))
for i in range(1,n+1):
    product = input("Enter product name = ")
    price = int(input("Enter price = "))
    qty = float(input("Enter qty = "))
    total = price * qty
    x = f"{i},{product},{price},{qty},{total}\n"
    bill = bill + x
print(bill)

# file = open('bill.csv','w')
# file.write('Product,Price,Qty,Total\n')
file.write(bill)

Enter n =  2
Enter product name =  Coke
Enter price =  200
Enter qty =  3
Enter product name =  Momo
Enter price =  100
Enter qty =  3

1,Coke,200,3.0,600.0
2,Momo,100,3.0,300.0

42

In [41]:
file.close()

In [42]:
import pandas as pd
df = pd.read_csv('append_bill.csv')
df

   SN Product  Price  Qty   Total
0   1   Apple    300  4.0  1200.0
1   1    Coke    200  3.0   600.0
2   2    Momo    100  3.0   300.0