In [1]:
# Python collections
# List
# Tuple
# Dict
# Set

In [2]:
# List
# -Indexing
# -Multiple and duplicate
# -Ordered
# -Mutable

In [ ]:
l = list()

In [6]:
a = [1,2,3,4,5,6,7,8,9,10,1]
b = ["Apple","Ball","Cat","Dog","Fish","Apple"]
print(a)
print(b)
print(type(a))
print(type(b))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1]
['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']
<class 'list'>
<class 'list'>

In [15]:
b = ["Apple","Ball","Cat","Dog","Fish","Apple"]
print(b[0])
print(b[0:3])
print(b[0:6:2])

Apple
['Apple', 'Ball', 'Cat']
['Apple', 'Cat', 'Fish']

In [17]:
b = ["Apple","Ball","Cat","Dog","Fish","Apple"]
print(b[-2])

Fish

In [18]:
a = [1,2,3]
b = [4,5,6]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6]

In [19]:
a = ["Hello","World"]
print(a*2)

['Hello', 'World', 'Hello', 'World']

In [21]:
b = ["Apple","Ball","Cat"]
for i in b:
    print(i)

Apple
Ball
Cat

In [23]:
[10] + [5]

[10, 5]

In [27]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l = l + [x]

print(l)

Enter n =  10
Enter x =  234
Enter x =  465
Enter x =  768
Enter x =  45
Enter x =  756
Enter x =  345
Enter x =  678
Enter x =  809
Enter x =  435
Enter x =  768

[234, 465, 768, 45, 756, 345, 678, 809, 435, 768]

In [33]:
print("Min value =", min(l))
print("Min value =", max(l))
print("sum of value =", sum(l))
l.sort()
print(l)
l.reverse()
print(l)

Min value = 45
Min value = 809
sum of value = 5303
[45, 234, 345, 435, 465, 678, 756, 768, 768, 809]
[809, 768, 768, 756, 678, 465, 435, 345, 234, 45]

In [37]:
a = ["Banana","Apple","Aaksh","Zebra","Xray"]
a.sort()
a

['Aaksh', 'Apple', 'Banana', 'Xray', 'Zebra']

In [38]:
# # CRUD operation
# c -> ceate
# r -> read
# u -> update
# d -> delete

In [ ]:
# create
# append() insert() extend()

In [40]:
l = []
l.append("Apple")
l.append("Ball")
l.append("Cat")
print(l)

['Apple', 'Ball', 'Cat']

In [ ]:
#append()
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l.append(x)

print(l)

In [43]:
#insert()
a = ['Aaksh', 'Apple', 'Banana', 'Xray', 'Zebra']
a.insert(2,"apple")
print(a)

['Aaksh', 'Apple', 'apple', 'Banana', 'Xray', 'Zebra']

In [44]:
# extend()
a = [1,2,3,4,5]
b = [6,7,8,9]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
# Update
a = ['Aaksh', 'Apple', 'Banana', 'Xray', 'Zebra']
a[0] = "Nabin"
a

['Nabin', 'Apple', 'Banana', 'Xray', 'Zebra']

In [48]:
a = ['Aaksh', 'Apple', 'Banana', 'Xray', 'Zebra']
a[0:2] = ["Sita","Gita"]
a

['Sita', 'Gita', 'Banana', 'Xray', 'Zebra']

In [49]:
# delete
# del remove() pop()

In [50]:
a = ['Aaksh', 'Apple', 'Banana', 'Xray', 'Zebra']
del a[0]
print(a)

['Apple', 'Banana', 'Xray', 'Zebra']

In [51]:
a = ['Aaksh', 'Apple', 'Banana', 'Xray', 'Zebra']
del a[0:2]
print(a)

['Banana', 'Xray', 'Zebra']

In [52]:
#remove()
a = ['Aaksh', 'Apple', 'Banana', 'Xray', 'Zebra']
a.remove("Apple")
print(a)

['Aaksh', 'Banana', 'Xray', 'Zebra']

In [53]:
a = ['Aaksh', 'Apple', 'Banana', 'Xray', 'Zebra']
a.pop(3)
print(a)

['Aaksh', 'Apple', 'Banana', 'Xray']

In [1]:
# Nested list (list inside list)

In [3]:
a = [[1,2,3],[4,5,6],[7,8,9]]
print(len(a))

3

In [5]:
a = [["Ram",34,"Kathmandu"],
    ["Shyam",45,"Bhaktapur"],
    ["Hari",34,"Lalitpur"]]
print(a)

[['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bhaktapur'], ['Hari', 34, 'Lalitpur']]

In [6]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    x = [name,age,add]
    data.append(x)

print(data)

Enter n =  2
Enter name =  Ram
Enter age =  67
Enter add =  Kathmandu
Enter name =  Shyam
Enter age =  56
Enter add =  Lalitpur

[['Ram', 67, 'Kathmandu'], ['Shyam', 56, 'Lalitpur']]

In [17]:
#indexing
a = [['Ram', 34, 'Kathmandu'], 
     ['Shyam', 45, 'Bhaktapur'], 
     ['Hari', 34, 'Lalitpur']]
print(a[0])
print(a[0][0])

['Ram', 34, 'Kathmandu']
Ram

In [18]:
a.append(['Sabin',32,'Jhapa'])
a

[['Ram', 34, 'Kathmandu'],
 ['Shyam', 45, 'Bhaktapur'],
 ['Hari', 34, 'Lalitpur'],
 ['Sabin', 32, 'Jhapa']]

In [19]:
for i in a:
    print(i)

['Ram', 34, 'Kathmandu']
['Shyam', 45, 'Bhaktapur']
['Hari', 34, 'Lalitpur']
['Sabin', 32, 'Jhapa']

In [22]:
#update
a = [['Ram', 34, 'Kathmandu'], 
     ['Shyam', 45, 'Bhaktapur'], 
     ['Hari', 34, 'Lalitpur']]
a[0][0] = "Ram Prasad"
print(a)

[['Ram Prasad', 34, 'Kathmandu'], ['Shyam', 45, 'Bhaktapur'], ['Hari', 34, 'Lalitpur']]

In [23]:
# del remove() pop()
a = [['Ram Prasad', 34, 'Kathmandu'], ['Shyam', 45, 'Bhaktapur'], ['Hari', 34, 'Lalitpur']]
del a[0]
a

[['Shyam', 45, 'Bhaktapur'], ['Hari', 34, 'Lalitpur']]

In [26]:
a = [['Ram Prasad', 34, 'Kathmandu'], ['Shyam', 45, 'Bhaktapur'], ['Hari', 34, 'Lalitpur']]
del a[0][0]
a

[[34, 'Kathmandu'], ['Shyam', 45, 'Bhaktapur'], ['Hari', 34, 'Lalitpur']]

In [28]:
a = [['Ram Prasad', 34, 'Kathmandu'], ['Shyam', 45, 'Bhaktapur'], ['Hari', 34, 'Lalitpur']]
a.remove(a[0])
a

[['Shyam', 45, 'Bhaktapur'], ['Hari', 34, 'Lalitpur']]

In [31]:
#search in list
a = ["Ram","Shyam","Hari","Sita","Ramesh","Sita"]
search = input("Enter name = ")
if search in a:
    print("Yes")
    print(a.count(search))
else:
    print("No")

Enter name =  Ram

Yes
1

In [41]:
#search in list
c = 0
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bhaktapur'],['Ram',20,'Chitwan'], ['Hari', 34, 'Lalitpur'],['Ram',20,'Chitwan']]
search = input("Enter name = ")
for i in a:
    if search in i:
        print(i)
        c = c+1

print(c)

Enter name =  Lalitpur

['Hari', 34, 'Lalitpur']
1

In [48]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bhaktapur'],['Ram',20,'Chitwan'], ['Hari', 34, 'Lalitpur'],['Ram',20,'Chitwan']]
l = len(a)
search = input("Enter name = ")
for i in range(l):
    if search in a[i]:
        print(i)

Enter name =  Ram

0
2
4

In [64]:
b = []
a = [['Ram', 34, 'Kathmandu'],
     ['Shyam', 45, 'Bhaktapur'],
     ['Ram',20,'Chitwan'],
     ['Hari', 34, 'Lalitpur'],
     ['Ram',20,'Chitwan'],
     ['Ram',20,'Chitwan']]

search = input("Enter name for search = ")
for i in a:
    if search != i[0]:
        b.append(i)

print(b)

Enter name for search =  Kathmandu

[['Shyam', 45, 'Bhaktapur'], ['Ram', 20, 'Chitwan'], ['Hari', 34, 'Lalitpur'], ['Ram', 20, 'Chitwan'], ['Ram', 20, 'Chitwan']]

In [ ]:
b = []
a = [['Ram', 34, 'Kathmandu'],
     ['Shyam', 45, 'Bhaktapur'],
     ['Ram',20,'Chitwan'],
     ['Hari', 34, 'Lalitpur'],
     ['Ram',20,'Chitwan'],
     ['Ram',20,'Chitwan']]

search = input("Enter name for search = ")
for i in a:
    if search != i[0] and search != i[2]:
        b.append(i)

print(b)