In [1]:
# for loop
# while loop

In [2]:
# for loopange
#range(5)      #0,1,2,3,4
#range(1,5)    #1,2,3,4
#range(1,10,2) #1,3,5,7,9

In [7]:
for i in range(5):
    print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [5]:
for i in range(1,5):
    print(i,"Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [6]:
for i in range(1,10,2):
    print(i,"Hello World")

1 Hello World
3 Hello World
5 Hello World
7 Hello World
9 Hello World

In [9]:
for i in range(5,-1,-1):
    print(i,"Hello World")

5 Hello World
4 Hello World
3 Hello World
2 Hello World
1 Hello World
0 Hello World

In [11]:
# WAP to create a multiplication table
n = int(input("Enter n = "))
for i in range(1,11):
    print(n*i)

Enter n =  5

5
10
15
20
25
30
35
40
45
50

In [13]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter n =  5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
s = 0
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    s = s + x
    print(s)

In [22]:
s = 0
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    s = s + x*1.1
    print(s)

Enter n =  5
Enter x =  1000

1100.0

Enter x =  2000

3300.0

Enter x =  5000

8800.0

Enter x =  3000

12100.0

Enter x =  5000

17600.0

In [26]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    s = s + name + "\n"

print(s)

Enter n =  3
Enter name =  Ram
Enter name =  Shyam
Enter name =  Hari

Ram
Shyam
Hari

In [27]:
print(s)

Ram
Shyam
Hari

In [ ]:
#1WAP to find factorial of a given no
#5! -> 1*2*3*4*5

In [ ]:
#2WAP to find sum all values (from 1 to itself)
# 5 -> 1+2+3+4+5

In [4]:
#2WAP to find sum all values (from 1 to itself)
s = 0
n = int(input("Enter n = "))
for i in range(1,n+1):
    s = s + i

print(s)

Enter n =  5

15

In [6]:
#2WAP to find factorial of a given no
s = 1
n = int(input("Enter n = "))
for i in range(1,n+1):
    s = s * i

print(s)

Enter n =  5

120

In [9]:
# WAP to store name and phone no of given persons
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    s = s + name + "\t" +phone + "\n"

print(s)

Enter n =  2
Enter name =  Ram
Enter phone =  9808778765
Enter name =  Shyam
Enter phone =  9808778765

Ram	9808778765
Shyam	9808778765

In [13]:
# #WAP to create a billing system
# product - > ?
# price -> ?
# qty ->
# total ->

In [16]:
bill = ""
final_total = 0
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter product name = ")
    price = int(input("Enter price = "))
    qty = float(input("Enter qty = "))
    total = price * qty
    x = product + "\t" +str(price) + "\t"+ str(qty) + "\t" + str(total) +"\n"
    bill = bill + x
    final_total = final_total + total
print(bill)
print(final_total)

Enter n =  2
Enter product name =  Apple
Enter price =  300
Enter qty =  1
Enter product name =  Banana
Enter price =  1
Enter qty =  150

Apple	300	1.0	300.0
Banana	1	150.0	150.0

450.0

In [17]:
# loop on string

In [20]:
a = "Hello"
for i in a:
    print(i,"Hello World")

H Hello World
e Hello World
l Hello World
l Hello World
o Hello World

In [38]:
a = "Hello World. I am python."
for i in a:
    print(i, end = "")

Hello World. I am python.

In [33]:
a = "Hello World. I am python."
for i in a:
    if i != ".":
        print(i, end = "")

Hello World I am python

In [40]:
a = "Hello World! I am python."
for i in a:
    if (i != ".") and (i != "!"):
        print(i, end = "")

Hello World I am python

In [42]:
"!" != "." and "!" != "!"

False

In [3]:
# Control statements
#break
#continue
#pass

In [5]:
a = 5
for i in range(10):
    if i == a:
        break
    print(i)

0
1
2
3
4

In [6]:
a = 5
for i in range(10):
    if i == a:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [9]:
a = "Hello World. I am Python."
for i in a:
    if i == ".":
        break
    print(i, end = "")

Hello World

In [10]:
a = "Hello World. I am Python."
for i in a:
    if i == ".":
        continue
    print(i, end = "")

Hello World I am Python

In [11]:
# while loop

In [12]:
# while <condition>:
#     <operations>

In [14]:
a = 0
while a<5:
    print(a,"Hello World")
    a = a+1

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [16]:
a = 5
while a>0:
    print(a,"Hello World")
    a = a-1

5 Hello World
4 Hello World
3 Hello World
2 Hello World
1 Hello World

In [17]:
n = int(input("Enter n = "))
i = 1
while i<=10:
    print(n,"*",i,"=",n*i)
    i = i+1

Enter n =  5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [1]:
s = 0
i = 0
n = int(input("Enter n = "))
while i<n:
    x = int(input("Enter x = "))
    s = s + x
    i = i+1
print(s)

Enter n =  3
Enter x =  32
Enter x =  543
Enter x =  324

899

In [3]:
# WAP to store name and phone no of given persons
i = 0
s = ""
n = int(input("Enter n = "))

while i<n:
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    s = s + name + "\t" +phone + "\n"
    i = i+1
print(s)

Enter n =  3
Enter name =  Ram
Enter phone =  9808778765
Enter name =  Shyam
Enter phone =  9808778765
Enter name =  Hari
Enter phone =  9808889876

Ram	9808778765
Shyam	9808778765
Hari	9808889876

In [ ]:
i = 0
bill = ""
final_total = 0
n = int(input("Enter n = "))
while i<n:
    product = input("Enter product name = ")
    price = int(input("Enter price = "))
    qty = float(input("Enter qty = "))
    total = price * qty
    x = product + "\t" +str(price) + "\t"+ str(qty) + "\t" + str(total) +"\n"
    bill = bill + x
    final_total = final_total + total
    i = i + 1
    
print(bill)
print(final_total)

In [4]:
# Control statement in while loop

In [10]:
i = 0
while i <10:
    if i ==5:
        break
    print(i)
    i = i + 1

0
1
2
3
4

In [1]:
i = 0
while i <10:
    if i ==5:
        i = i + 1
        continue
    print(i)
    i = i + 1

0
1
2
3
4
6
7
8
9

In [7]:
# for else loop
# prime -> 2,3,5,7,11,13,17,19
# composite -> 4,6,8,9,10,12
n = int(input("Enter n = "))
for i in range(2,n):
    if n%i == 0:
        print("The no is composite")
        break
else:
    print("The no is prime")

Enter n =  9

The no is composite

5.0