In [1]:
# string
a = 'Hello World'
b = "Hello World"
c = '''Hello World'''
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [2]:
a = '10'
print(type(a))

<class 'str'>

In [3]:
a = input("Enter a = ")
print(type(a))

Enter a =  10

<class 'str'>

In [4]:
# + *
a = "Hello "
b = "World"
c = a+b
print(c)

Hello World

In [5]:
a = "Hello World"
print(a*2)

Hello WorldHello World

In [20]:
a = "Hello World"
print(a[0])
print(a[0:5])
print(a[0:10:2])

H
Hello
HloWr

In [21]:
a = "Hello World"
l = len(a)
for i in range(l):
    print(a[i])

H
e
l
l
o

W
o
r
l
d

In [22]:
a = "Hello World"
l = len(a)
i = 0
while i<l:
    print(a[i])
    i = i + 1

H
e
l
l
o

W
o
r
l
d

In [3]:
# string
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")

info = "Hello World I am " + name + " I am from " + add + " I am " + str(age)
print(info)

Enter name =  Ram
Enter age =  34
Enter add =  Kathmandu

Hello World I am Ram I am from Kathmandu I am 34

In [5]:
# String formatting
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")

info = f"Hello World I am {name}. I am from {add}. I am {age}"
print(info)

Enter name =  Ram
Enter age =  34
Enter add =  Kathmandu

Hello World I am Ram. I am from Kathmandu. I am 34

In [6]:
info = "Hello World I am {name}. I am from {add}. I am {age}"
print(info)

Hello World I am {name}. I am from {add}. I am {age}

In [7]:
# WAP to store name and phone no of given persons
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    s = s + f"{name} {phone} \n"

print(s)

Enter n =  2
Enter name =  Ram
Enter phone =  8797778765
Enter name =  Shyam
Enter phone =  9808778765

Ram 8797778765
Shyam 9808778765

In [26]:
# search in string
#count()
a = "Ram Shyam Hari Sita Gita Nabin Ram".lower()
search = input("Enter value for search").lower()
if search in a:
    print("Yes")
    print(a.count(search))
else:
    print("No")

Enter value for search rAm

Yes
2

In [22]:
# upper()
# lower()
a = "Ram Shyam Hari Sita Gita Nabin Ram"
print(a.upper())
print(a.lower())

RAM SHYAM HARI SITA GITA NABIN RAM
ram shyam hari sita gita nabin ram

In [25]:
a = "Ram Shyam Hari Sita Gita Nabin Ram".lower()
b = "rAm".lower()
print(a)
print(b)

RAM SHYAM HARI SITA GITA NABIN RAM
RAM

In [28]:
# Replace
a = "Ram Shyam Hari Sita Gita Nabin Ram"
a = a.replace("Ram","Rama")
print(a)

Rama Shyam Hari Sita Gita Nabin Rama

In [29]:
a = "Ram Shyam Hari Sita Gita Nabin Ram Ramesh"
a = a.replace("Ram","Rama")
print(a)

Rama Shyam Hari Sita Gita Nabin Rama Ramaesh