In [1]:
# tuple
# -Indexing
# -Ordered
# -Multiple and duplicate
# -Imutable

In [2]:
t = (1,2,3,4,5,6,7,8,9)
print(type(t))

<class 'tuple'>

In [5]:
t = ("Apple",)
print(type(t))

<class 'tuple'>

In [7]:
t = ("Apple","Ball","Cat","Dog")
print(t[1])

Ball

In [9]:
t = ("Apple","Ball","Cat","Dog","Apple")
print(t[0:2])

('Apple', 'Ball')

In [10]:
# No append() insert() extend()
# No update
# No del remove() pop()
# No sort()
# No reverse()

In [13]:
t = tuple()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    t = t + (x,)

print(t)

Enter n =  5
Enter x =  1234
Enter x =  354
Enter x =  654
Enter x =  675
Enter x =  234

(1234, 354, 654, 675, 234)

In [14]:
print(max(t))
print(min(t))
print(sum(t))

1234
234
3151

In [15]:
a = 10,15,20,30,40,50
print(a)

(10, 15, 20, 30, 40, 50)

In [18]:
#tuple to list
t = ("Apple","Ball","Cat","Dog","Apple")
l = list(t)
del l[0]

t = tuple(l)
print(t)

('Ball', 'Cat', 'Dog', 'Apple')

In [19]:
# tuple inside tuple
a = ((1,2,3),
    (4,5,6),
    (7,8,9))
print(a)

((1, 2, 3), (4, 5, 6), (7, 8, 9))